
html .profileDiv {
    background: url('../assets/HOME\ PAGE\ 03\ copy\ 5.png') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1 {
    margin: 20px 0 45px 0;
    font-size: 25px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

input {
    margin-bottom: 7px;
}

.profileDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.detailsPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 30px 25px 45px 25px;
}

.profileInputs{
    display: flex;
    flex-direction: column;
}



.signOut{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}