
html .profileDiv {
    background: url('../assets/HOME\ PAGE\ 03\ copy\ 5.png') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h1 {
    margin: 20px 0 45px 0
}

.profileDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.detailsPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.signOut{
    display: flex;
    
}