
html .registerDiv {
    background: url('../assets/HOME\ PAGE\ 03\ copy\ 7.png') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.registerHead{
    color: #ffffff;
    font-size: 25px;
}

p {
    color: #02311f;
    margin: 10px 0 0 0;
}


.registerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.registerForm {
    background-color: #ffffff;
    padding: 35px 30px 45px 30px;

}


.registerInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 265px; */
}

.registerButtons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.passwordInputDiv {
    position: relative;
}


.passwordInput {
    box-shadow: rgba(0, 0, 0, 0.11);
    border: none;
    background: #ffffff;
    border-radius: 3rem;
    height: 3rem;
    width: 100%;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0 3rem;
    font-size: 1rem;

    background: url('../assets/eye.svg') #ffffff 2.5% center no-repeat;
    
    margin-bottom: 2rem;
}

.showPassword {
    cursor: pointer;
    /* position: absolute; */
    top: -4%;
    right: 1%;
    padding: 1rem;
    
}

.textLink {
    color: #ffffff;
    text-decoration: none;
  }