.register-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 265px; */
}

.register-buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}