
/* Shopping List page */
/* includes styles for ingredient component */

/* .sl-div{
    display: flex;
    flex-direction: column;
} */

p {
    font-size: 12px;
    font-weight: 100;
    /* color: #f4f4f4; */
}

.sl-page-div{
    display: flex;
    flex-direction: column;
    margin: 0 0px 20px 0px;
    width: 600px;
    
}

.sl-group{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    align-items: center;
    margin: 0 0 17px 0px
}

.sl-shape{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    border: solid 1px black;
    border-radius: 10px;
    
}

.sl-aisle-div{
    display: flex;
    flex-direction: row;
}

.sl-aisle-title{
    
    padding: 10px 10px 7px 10px;
}

.sl-line-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10px;
    flex-grow: 1;
}
  

.sl-line{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 1px;
    background-color: black;
} 


.sl-ingList-div {
    margin-bottom: 17px;
}







  
  