
/* Shopping List page */
/* includes styles for ingredient component */



p {
    font-size: 12px;
    font-weight: 100;
    /* color: #f4f4f4; */
}


.checked-ingredient {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: lightgray;
    margin: 5px;
    border-radius: 10px;
}

.ingredient{
    background-color: #4c4c52;
    margin: 1px 5px 8px 5px;
    border-radius: 10px;
}

.ing-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ing-div {
    display: flex;
    align-items: center;
    justify-content: start;
}
  


.ing-info {
    display: flex;
    flex-direction: column;
    margin: 6px 26px 6px 8px;
    max-width: 180px;
}

.ing-name {
    color: #f4f4f4;
    font-size: 20px;
}

.amount-unit {
    display: flex;
    margin-bottom: 6px;
    color: #f4f4f4;

}

.amount {
    margin-right: 5px;
    color: #f4f4f4;
}

.unit {
    color: #f4f4f4;
}



.aisle {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 6px;
    color: #4c4c52;

}

.recipe-title {
    max-width: 90px;
    color: #f4f4f4;

}

.check-box {
    background-color: #232c2d;
    margin-right: 8px;
}
  



  
  