.pag-div {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.pag-div ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 25px;
}


.pag-div li{
    list-style-type: none;
}