
/* navbar */

body {
  margin: 0px;
}

.navbar {
  height: 90px;
  background-color: #2a2a2a;
  display: flex;
  overflow: hidden;
}

.sticky {
  top: 0;
  width: 100%;
  overflow: hidden;
  margin-top: 0px
}

.nav-links{
  display: flex;
  color: antiquewhite;
}

.nav-links li {
  padding-right: 25px;
  padding-left: 25px;
}





/* Shopping List page */

.shopList-buttons {
  display: flex;
  width: 60px;
  justify-content: space-between;
  margin-left: 15px
}

.ingredient{
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: bisque;
  margin: 5px;
  border-radius: 10px;
}

.checked-ingredient {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: lightgray;
  margin: 5px;
  border-radius: 10px;
}

