
/* navbar */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0px;
}












/* Shopping List page */

.shopList-buttons {
  display: flex;
  width: 60px;
  justify-content: space-between;
  margin-left: 15px
}

.ingredient{
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: bisque;
  margin: 5px;
  border-radius: 10px;
}

.checked-ingredient {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: lightgray;
  margin: 5px;
  border-radius: 10px;
}

